<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>     

    <% if user_signed_in? %>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "Sign Up", new_user_registration_path %></li>
     <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </body>
</html>
